<!DOCTYPE html>
<html>
    <head>
        <!-- DEBUG -->
        <script>
            document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
        </script>

        <!-- Window Title -->
        <title>Total Mechanic | Acceso al Sistema</title>

        <!-- Metas -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=.8">

        <%- include('../../components/master-page/import-css') %>
        <style>
            body
            {
                zoom: .8;
                -moz-transform: scale(.8);
                -moz-transform-origin: 0 0;
            }
        </style>

    </head>
    <body style="background-color:#333">
        <!-- Header -->
        <%- include('../../components/master-page/header') %>

        <!-- Page Content -->
        <div class="container">

            <div class="jumbotron jumbo-warning animated flipInY" style="max-width:450px;margin:5% auto;">
                <h2 style="text-align:center;"><%= PageTitle %></h2>
                <br>
                <p style="text-align:center;margin:0px;">
                    <img src="images/login-lock.png" style="width:300px;">
                </p>
                <br>
                <h2 style="text-align:center;">Introduzca sus Credenciales</h2>
                <br>
                <form id="frmLogin" name="frmLogin" action="/login" method="post">
                    <div class="form-group label-floating" style="margin:0px 20px 0px 20px">
                        <label for="username" class="control-label">Usuario</label>
                        <input type="email" class="form-control" id="username" name="username">
                        <span class="help-block"><strong>Introduzca su correo electrónico registrado.</strong></span>
                    </div>
                    <br>
                    <div class="form-group label-floating"  style="margin:0px 20px 0px 20px">
                        <label for="password" class="control-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password">
                        <span class="help-block"><strong>Introduzca su contraseña.</strong></span>
                    </div>
                    <br>
                    <div class="button-wrapper" style="text-align:right;">
                        <a href="javascript:$('#frmLogin').submit();" class="btn btn-primary btn-lg">Acceder</a>
                    </div>
                </form>

            </div>
        </div>


        <!-- Footer -->
        <%- include('../../components/master-page/footer')                                   %>

        <!-- Scripts -->
        <%- include('../../components/master-page/import-js-extranet-orders')                %>

    </body>
</html>
